.card {
    border: 0px;
}

.border {
    border: 10px;
    color: rgb(53, 52, 52);
    background-color: aliceblue;
}

.link {
    text-decoration: none;
    color: rgb(128, 125, 125);
    font-weight: 600;
}

.link:hover {
    word-spacing: 1px;
    color: rgb(237, 234, 234);
}